#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url('../assets/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: whitesmoke;
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 4px 4px;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 100px;
  width: 210px;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px;
  background-color: #ffffff;
  border: 1px solid rgba(2, 33, 87, 0.89);
}
  
.button span {
  color: #164ca7;
  font-size: 20px;
  font-weight: 20px;
  letter-spacing: 0.1px;
}
  
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

/* Media queries for different mobile screen sizes */

/* Small screens (portrait phones) */
@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}

/* Medium screens (landscape phones) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .card {
      width: 70%;
      height: 25%;
  }
}

/* Large screens (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
      width: 60%;
      height: 20%;
  }
}

/* Extra-large screens (desktops) */
@media only screen and (min-width: 1025px) {
  /* Keep the default styles for larger screens */
}
